@{
    Layout = "default";
    Title = "JasonPowley.com";
    Description = "A blog of code and beer.";
}

@RenderPart("tagline")

<img src="assets/img/hero.jpg" alt="hero image"/>

<p>I think the graphic above sums me up pretty well. Created by my wife, <a href="https://erinpowley.com">Erin Powley</a>, it captures all of my top interests:
family, coffee, beer, travels, coding, and Star Wars.</p>

<p>The content on this site will largely consist of references to those things listed above, as they occupy roughly 99.9% of my life.</p>

<p>Any opinions expressed here are my own and not necessarily those of my employer.</p>