@{
    Layout = "default";
    Title = "Beer";
    Description = "A collection of (most) of the beer I drink and remember to post about.";
}

<p>Welcome to my beer diary.</p>

<p>These are posts of the beers I've tried and either the descriptions of them directly from the brewery, <a href="https://about.tavour.com/">Tavour</a>, or my personal tastes. 
Sadly, these will be posted nearly daily, or until I run low on funds or my wife decides I need to cut back.😂</p>

<ul class="post-list">
@foreach (var beer in Model.Beers)
{
    <li>
        <span class="post-meta">@beer.AddedDate.ToString("MMM dd, yyyy")</span>
        <a class="post-link" href="@beer.Url/index.html">@beer.Title</a>
    </li>
}
</ul>