@{
    Layout = "singlepage";
    Title = "About Me";
    Description = "";
}

<img src="/assets/img/powleys.jpeg" class="img-center" alt="Enjoying dinner and beer with Erin at Virginia Beach"/>
<span class="img-credit">Enjoying dinner and beer with Erin at Virginia Beach</span>

<p>Hey there! I'm Jason and this is my web site, obviously. 🙂</p>

<p>I'm a seasoned software developer living in Mechancisburg, Pennsylvania. I grew up in Upstate New York, 
    and after graduating with a degree in Management Information Systems from 
    <a href="https://www.rit.edu/">Rochester Institute of Technology</a>, I moved down to Central Pennsylvania
    with my wife, Erin. Here, I've worked for several organizations, mostly private sector, honing my problem-solving skills. 
    Currently, I work at Leidos in Camp Hill as a technical team lead and developer manager.</p>

<p>Professionally, I try my best to balance my time between my roles as Senior Developer, Project Manager, Lead New-Hire Screener, 
    and sometimes, Technical Architect.</p>

<p>Personally, I try to balance family life, advancing my technological knowledge, taming my growing board game addiction, and enjoying beer(s) with my wife. 😄</p>    

<img src="/assets/img/powleys_couch.jpeg" class="img-center" alt="Enjoying some family time on the couch"/>
<span class="img-credit">Enjoying some family time on the couch</span>

<p>Thanks for visiting and for reading!</p>